.chatbot-body {
  display: flex;
  width: 90%;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 5%;
  right: 0;
  z-index: 1;
}
.chat-left-panel {
  flex: 0 0 35%;
  background-color: #232227;
  padding: 20px;
  border: 0.5px solid #414043;
}
.recent-chat-list {
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 12%;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #5faa8f;
  border: none;
  color: #ffffff;
  border-radius: 25px; /* 둥근 모서리 효과 */
  font-size: x-large;
  box-shadow: 0 0 5px rgba(149, 149, 149, 0.5);
}
.recent-chat-list2 {
  margin-left: 27%;
  margin-top: 2%;
  margin-right: 5%;
  padding: 2%;
  background-color: #ffffff;
  border: none;
  color: #000;
  border-radius: 10px; /* 둥근 모서리 효과 */
  box-shadow: 0 0 5px rgba(149, 149, 149, 0.5);
}
.chat-h5 {
  margin: 10px;
  margin-left: 30%;
  font-weight: bold;
}
.chat-right-panel {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #28292e;
}
.chat-header {
  background-color: #28292e;
  padding: 10px;
  height: 7%;
  align-items: center;
  box-shadow: 0 0 5px rgba(149, 149, 149, 0.5);
}
.chat-header h4 {
  font-weight: bold;
  padding: 5px;
  height: 7%;
}
.chat-body {
  flex: 1;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  background-color: #28292e;
}
.message {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  background-color: #e6e6e6;
}
#chat-container-ldj {
  height: 10%;
  padding: 10px;
  padding-bottom: 15%;

  background-color: #28292e;
}
#chat-messages-ldj {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
}
#user-input-chat {
  margin: 2%;
  width: 100%;
  display: flex;
  padding: 2px;
  border: 1px solid lightgray;
  border-radius: 10px; /* 둥근 모서리 효과 */
}
#user-input-chat input {
  flex: 1;
  padding: 10px;
  outline: none;
  border: none;
}
#user-input-chat input ::placeholder {
  background-color: white;
}

#user-input-chat button {
  font-weight: bold;
  border: none;
  background-color: #28292e;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}
.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.bot-message-block {
  display: flex;
  margin: 3%;
}
.user-message-block {
  display: flex;
  flex-direction: row-reverse;
  margin: 3%;
}
.bot-message-text {
  background-color: green;
  width: 60%;
  margin: 2%;
  border-radius: 10px; /* 둥근 모서리 효과 */
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
  font-weight: bold;
}
.user-message-text {
  background-color: #1e88e5;
  color: #ffffff;
  order: 1;
  width: 60%;
  margin: 2%;
  margin-right: 4%;
  border-radius: 10px; /* 둥근 모서리 효과 */
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 3.5%;
  font-weight: bold;
}
.bot-icon {
  width: 150px;
  height: 15vh;
}
.user-icon {
  width: 150px;
  height: 15vh;
}
.aichatbot {
  color: #ffffff;
  font-size: large;
  font-weight: bold;
  position: relative;
  top: 40%;
}
.chat-textbox {
  background: #28292e;
}
