@import 'reset.scss';
@import 'header.scss';
@import 'PJTstyle.scss';

.home-wrap {
  margin-left: 10%;
  background-color: $dark;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.home-wrap h1 {
  margin: 16px 0;
  @include semi-txt;
  color: $green;
}

.main-banner {
  text-align: center;
}

.main-banner img {
  width: 95%;
  position: relative;
  margin-top: 90px;
}

.sub-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2% 5%;
}

.sub-banner1,
.sub-banner2,
.sub-banner3 {
  text-align: center;
  margin: 0 10px;
  height: auto;
  width: 100%;

  >p {
    margin-top: 20px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid rgb(47, 47, 47);
  }

  >span {
    display: block;
    margin-top: 20px;
    font-size: 14px;
  }
}

.sub-banner1 img,
.sub-banner2 img,
.sub-banner3 img {
  width: 60%;
  height: auto;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.sub-banner1 img:hover,
.sub-banner2 img:hover,
.sub-banner3 img:hover {
  transform: scale(1.1);
}