@import 'reset.scss';
@import 'header.scss';
@import 'PJTstyle.scss';

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginpage-content{
  background-color: $dark;
  height: 100%;
  align-items: center;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login {
  background-color: $black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;

  h2 {
    text-align: center;
    color: $green;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: $gray;
    @include normal-txt;
  }

  input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
  }

  .error {
    color: $red;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: $green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;

    &:hover {
      background-color: #0077cc;
    }
  }

  button + button {
    margin-top: 10px;
  }

  button.kakao {
    background-color: #ffe051;
    color: #553830;

    &:hover {
      background-color: #ffca1a;
    }
  }
}
